# Core
Django>=1.8.0,<1.9
djangorestframework>=3.2.2,<3.3
django-extensions>=1.5.5,<1.6
django-cors-headers>=1.1.0,<1.2
psycopg2>=2.6.1,<3.0
jsonfield>=1.0.3,<1.1
ipaddress>=1.0.14,<1.1
requests>=2.7.0,<3.0

# Testing
django-nose>=1.4.1,<1.5
django-debug-toolbar>=1.3.2,<1.4
fake-factory>=0.5.2,<0.6
factory-boy>=2.5.2,<2.6

# Utility
python-dateutil>=2.4.2,<2.5
pycountry>=1.14,<1.15
inflector>=2.0.0,<3.0
pytz